

.new-tweet {
  .counter{
    float: right;
  }
  form {
    height: 100px;
    margin: 5px auto;
    width: 100%;
      input[type=submit] {
      border-radius: 3px;
      }
  }
  h2 {
      border-bottom: 2px solid gray;
  }
  textarea {
    height: 60px;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    width: 100%;
  }
  border: 2px solid gray;
  border-radius: 5px;
  display: none;
  height: 150px;
  margin: 0 auto;
  padding: 10px;
  position: inherit;
  width: 80%;
  z-index: 1;
}