/* HEADER */
 #nav-bar {
    height: 80px;
    width: 100%;
    background-color: #009f86;
    color: #e8fdff;
    padding: 0 2em;
    position: fixed;
    z-index: 1;
 }
 #nav-bar > div {
  float: left;
  height: inherit;
 }
 #nav-bar .nav-options > p {
  margin-left: 20px;
  display: inline-block;
 }
#nav-bar .logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
#nav-bar .header {
  font-size: 2em;
  text-align: center;
  position: relative;
  top: -1em;
}
#nav-bar:after {
 content: ".";
 visibility: hidden;
 display: block;
 height: 0;
 clear: both;
}
#nav-bar p {
  font-size: 1.5em;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 12px;
}
#nav-bar p:hover {
  background-color: #e8fdff ;
  color: #009f86;
}
#nav-bar .dropdown {
    width: 175px;
    position: relative;
    padding-top: 16px;
}
#nav-bar .dropdown li {
background-color: #009f86;
  color: inherit;
  display: none;

}
#nav-bar .dropdown li:hover {
  background-color: #e8fdff ;
  color: #009f86;
}
#nav-bar .nav-options {
  float: right;
}