body {
  background-color: #ff3b51;
  color: #f5a0b3
}
#nav-bar {
  background-color: #ffc083;
  color: black;
}
.dropdown {
  background-color: #ffc083;
}

#nav-bar p:hover {
  background-color: black;
  color: #ffc083;
}

.dropdown li {
  background-color: black;
  color: #ffc083;
}